<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container nav-con" style="display: flex; justify-content: center;">
      <%= link_to "Home", root_path, class: "btn btn-danger" %>
  </div>
</div>
