.navbar-lewagon {
  // justify-content: space-between;
  height: 70px;
}

.nav-con {
  display: flex;
  justify-content: space-between;
  // align-items: center;
} img {
  width: 40px;
}

i {
  opacity: 0.85;
  color: #e94443;
  &:hover {
    opacity: 1;
  }
}
